@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', monospace;
  --font-sans: 'Inter', sans-serif;
  --color-cyan-400: #22d3ee;
  --color-cyan-500: #06b6d4;
  --color-cyan-600: #0891b2;
  --color-dark-900: #0a0a0f;
  --color-dark-800: #12121a;
  --color-dark-700: #1a1a25;
  --color-dark-600: #22222f;
}

::selection {
  background-color: rgba(6, 182, 212, 0.3);
  color: #fff;
}

html {
  scrollbar-color: #22222f #0a0a0f;
}

body {
  font-family: var(--font-sans);
}
